@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply bg-bgLight font-sans;
}

header {
  @apply relative bg-[#f0ebe5] p-4 text-center overflow-hidden;
}

header svg {
  @apply absolute top-0 left-0 w-full h-full;
}

.header-title {
  @apply text-2xl font-bold text-primary relative z-10;
}

.header-subtitle {
  @apply mt-1 text-primary relative z-10;
}


.button-primary {
  @apply bg-accent text-white py-2 px-4 rounded hover:bg-green-700;
}

.chart-container {
  @apply my-8 mx-auto w-3/4 bg-[#f0ebe5] p-4 rounded shadow;
}
.button-primary {
  @apply bg-accent text-white py-2 px-4 rounded hover:bg-green-700;
}

.chart-container {
  @apply my-8 mx-auto w-3/4;
}

input[type="file"] {
  @apply mb-4 p-2 border rounded bg-[#f0ebe5] border-gray-300;
}

.main-bg {
  background-image: url("./assets/bg.png");

  background-size: cover;
  background-position: center;
    backdrop-filter: blur(5px);

}
.hight-maximize {
  height: calc(100vh - 200px);
}
.pattern {
  background-image: url("./assets/pattern.jpg");
  background-repeat: repeat;
  background-position: center;
  backdrop-filter: blur(30px);
  background-size: cover;
}

/* use fonts in assets */
@font-face {
  font-family: "TheSans-Bold";
  src: url("./assets/TheSans-Bold.otf");
}
@font-face {
  font-family: "TheSans-Plain";
  src: url("./assets/TheSans-Bold.otf");
}

.font-bold {
  font-family: "TheSans-Bold";
}

/* apply font face to whole doc */

body {
  font-family: "TheSans-Plain";
}

